<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbfPath" value="D://121212/1212.dbf"/>
  </appSettings>
</configuration>

<!--
 string appName =ConfigurationSettings.AppSettings["dbfPath"];

            string strSql = ConfigurationManager.AppSettings["sqlconn"];//获取配置文件里自己设置的连接字符串

            //string strSql = System.Configuration.ConfigurationManager.ConnectionStrings[0].ConnectionString;//获取系统默认的连接字符串

            label1.Text = appName;

            label2.Text = strSql;
-->